html {
  scroll-behavior: smooth;
  scroll-padding-top: 240px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 70px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background: #005a64;
  color: #ffffff;
}

.header h1 {
  font-size: 80px;
  line-height: 18px;
}

.navbar {
  overflow: hidden;
  background-color: #001f3d;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 18px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
  font-size: 14px;
}

.navbar a:hover {
  cursor: pointer;
  background-color: #00445f;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #20354b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {   
  padding-left: 45px;
  padding-right: 165px;
  font-family: Arial, Helvetica, sans-serif;
}

.main h2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  padding-left: 10px;
 }

 .main h5 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-left: 10px;
 }

ul {
  list-style-type: none;
  color: #000000;
}

li {
  padding-bottom: 8px;
}

li :first-child:link, li :first-child:visited{
  color:#003b63;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li :first-child:hover{
  color: #00a1b3;
}

.footer {
  padding: 1px;
  text-align: end;
  background: #3d696e;
  font-size: 12px;
}

/* footer unvisited and visited link */
.footer a:link, .footer a:visited {
  color:#FFFAFA;
  text-decoration: none;
  font-weight: 100;
  padding-right: 20px;
}      

.footer a:hover {
  color:#c1fbff;
}

/* for mobile phone*/
@media screen and (max-width: 768px) {

  html {
    scroll-padding-top: 160px;
  }

  .header {
    padding: 40px;
    font-size: 16px;
    text-align: center;
  }

  .header h1 {
    font-size: 35px;
  }

  .main {  
    padding-left: 5px;
    padding-right: 25px;
  }

  .main h2 {
    font-size: 30px;
  }

  .main h5 {
    font-size: 15px;
   }

  .navbar a {
    padding: 8px;
    font-size: 11px;
  }

  .navbar a.right {
    font-size: 9px;
  }

  ul {
    padding-left: 20px;
  }

  #la, #lp, #lit {
    padding-top: 5px;
  }
}