* {
  box-sizing: border-box;
} 

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 75px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background: #005a64;
  color: white;
}

.header h1 {
  font-size: 60px;
}

.navbar {
  overflow: hidden;
  background-color: #001f3d;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 18px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
  font-size: 14px;
}

.navbar a:hover {
  background-color: #003e68;
  color: rgb(255, 255, 255);
}

#la, #lp, #lit {
  padding-top: 20px;
}

.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.main h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
 }

 .main h5 {
  font-size: 18px;
 }

ul {
  list-style-position: outside;
  list-style-type: circle;
  color: #000000;
}

li {
  padding: 5px;
}

#lp a:link, #lp a:visited {
  color:#003b63;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}      

#lp a:hover {
  color: #008a99;
}

.footer {
  padding: 1px;
  text-align: end;
  background: #005a64;
  font-size: 12px;
}

/* footer unvisited and visited link */
.footer a:link, .footer a:visited {
  color:#FFFAFA;
  text-decoration: none;
  font-weight: 100;
  padding-right: 10px;
}      

.footer a:hover {
  color:#ff8800;
}

.footer a:active {
  color:#ffae00;
} 

/* for mobile phone*/
@media screen and (max-width: 768px) {

  .header {
    padding: 50px;
    font-size: 16px;
    text-align: center;
  }

  .header h1 {
    font-size: 35px;
  }

  .main h2 {
    font-size: 30px;
  }

  .main h5 {
    font-size: 14px;
   }

  .navbar a {
    padding: 7px;
    font-size: 10px;
  }

  .navbar a.right {
    font-size: 8px;
  }

  #la, #lp, #lit {
    padding-top: 5px;
  }
}