html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 75px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background: #005a64;
  color: rgb(255, 255, 255);
}

.header h1 {
  font-size: 60px;
}

.navbar {
  overflow: hidden;
  background-color: #001f3d;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 18px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
  font-size: 14px;
}

.navbar a:hover {
  background-color: #003e68;
  color: rgb(255, 255, 255);
}

#la, #lp, #lt {
  padding-top: 20px;
}

.main {   
  background-color: white;
  padding-left: 45px;
  padding-right: 165px;
  font-family: Arial, Helvetica, sans-serif;
}

.main h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  padding-left: 10px;
 }

 .main h5 {
  font-size: 18px;
  padding-left: 10px;
 }

ul {
  list-style-type: none;
  color: #000000;
}

li {
  padding: 10px;
}

#la a:link, #lp a:link, #lt a:link, #la a:visited, #lp a:visited, #lt a:visited {
  color:#003b63;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}      

#la a:hover, #lp a:hover, #lt a:hover {
  color: #00a1b3;
}

.footer {
  padding: 1px;
  text-align: end;
  background: #3d696e;
  font-size: 12px;
}

/* footer unvisited and visited link */
.footer a:link, .footer a:visited {
  color:#FFFAFA;
  text-decoration: none;
  font-weight: 100;
  padding-right: 20px;
}      

.footer a:hover {
  color:#ffe600;
}

/* for mobile phone*/
@media screen and (max-width: 768px) {

  .header {
    padding: 40px;
    font-size: 16px;
    text-align: center;
  }

  .header h1 {
    font-size: 35px;
  }

  .main {  
    padding-left: 5px;
    padding-right: 25px;
  }

  .main h2 {
    font-size: 30px;
  }

  .main h5 {
    font-size: 15px;
   }

  .navbar a {
    padding: 8px;
    font-size: 11px;
  }

  .navbar a.right {
    font-size: 9px;
  }

  ul {
    padding-left: 20px;
  }

  #la, #lp, #lit {
    padding-top: 5px;
  }
}